{% extends 'base.html' %}
{% load static %}
{% block title %} Se connecter {% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Votre pseudo ou votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
    {% endif %}
  <div class="login-flexbox">
      <form class="login" method="post" action="{% url 'login' %}">
        <h2>Connectez-vous !</h2>
        {% csrf_token %}
        <table>
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <p><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
  </div>

{% endblock %}