{% extends 'base.html' %}
{% load static %}
{% block title %} Réinitialiser votre mot de passe ! {% endblock %}

{% block content %}
    <div class="password-reset-flexbox">
      <form class="password-reset" action="" method="post">
      <h2>Réinitialiser votre mot de passe !</h2>
      {% csrf_token %}
      <p>Entrer votre email !</p>
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
          <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password">
      </form>
    </div>
{% endblock %}