{% extends 'base.html' %}
{% block title %}S'inscrire !{% endblock %}
{% block content %}
  <div class="signup-flexbox">
      <form class="signup" method="post">
        <h2>S'inscrire</h2>
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit">Sign up</button>
      </form>
  </div>
{% endblock %}