html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: black;
    min-height: 100px;
    justify-content: space-evenly;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
}

main h2 {
    text-align: center;
    margin: 50px 0px 50px 0px;
}

footer {
    display: flex;
    text-align: center;
    background-color: RGB(62,63,58);
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

.menu *,
footer *{
    color: white;
}

.flexbox-images-container {
    display: flex;
    flex-direction: row;
    margin: 0 20% 0 20%;
    flex-wrap: wrap;
}

.flexbox-images {
    display: flex;
    flex-direction: column;
    flex: 1 0 26%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: solid 2px black;
    border-radius: 20px;
    padding: 20px;
}

.flexbox-images img {
    max-width: 200px;
    min-width: 200px;
    margin-bottom: 10px;
}

.list_links {
    display: flex;
    flex-direction: row;
}

.list_link {
    margin: 0 15px 0 15px;
    font-size: 20px;
}

.list_link:hover {
    text-decoration: none;
}

.nav-flexbox {
    display: flex;
    flex-direction: row;
}

.nav-link,
.navbar-brand {
    padding: 0 10px 0 10px !important;

}

.navbar {
    display: flex !important;
    align-items: baseline !important;
}

.add_image,
.update_image,
.delete-image,
.login-flexbox .login,
.password-reset,
.signup {
    margin-top: 100px;
    padding: 50px;
    border: solid 2px black;
    border-radius: 50%;
    text-align: center;
    max-width: 800px;
}

.add-image-flexbox,
.update-image-flexbox,
.delete-image-flexbox,
.login-flexbox,
.password-reset-flexbox,
.signup-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_input {
    margin: 10px 0 10px 0 !important;
}

.reset-done {
    margin-top: 20px;
    text-align: center;
}