{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <header>
{#        <nav class="menu">#}
{#            <a href="{% url 'app_index' %}">Accueil</a>#}
{#            <h1>Mon site</h1>#}
{#            {% if user.is_authenticated %}#}
{#                <a href="{% url 'app_image_add' %}">Ajouter une image</a>#}
{#                <a href="{% url 'app_current_user_list_images' pk=user.pk%}">Consulter vos images</a>#}
{#                User: {{ user.get_username }}#}
{#                <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>#}
{#            {% else %}#}
{#                 <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>#}
{#                <li><a href="{% url 'signup'%}">Inscription</a></li>#}
{#            {% endif %}#}
{#        </nav>#}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Django-Project</a>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'app_index' %}">{% block current_page %} Accueil {% endblock %}<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item nav-flexbox">
                  {% if user.is_authenticated %}
                      <a class="nav-link" href="{% url 'app_image_add' %}">Ajouter une image</a>
                      <a class="nav-link" href="{% url 'app_current_user_list_images' pk=user.pk%}">Consulter vos images</a>
                  {% endif %}
              </li>
            </ul>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Bonjour {{ user.get_username }}, voulez-vous vous déconnecter ?</a>
            {% else %}
                <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Se connecter</a>
                <a class="nav-link" href="{% url 'signup'%}">S'inscrire</a>
            {% endif %}
          </div>
        </nav>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p>This site has been developed by <a href="https://github.com/Antoine-Zombralis">Antoine ZOMBRALIS</a></p>
    </footer>
</body>
</html>