{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <h2>Vos images !</h2>
    <div class="flexbox-images-container">
        {% for object in images %}
            <div class="flexbox-images">
                <img src="{{ object.image_Main_Img.url }}"/>
                <h2>{{ object.name }}</h2>
                <div class="list_links">
                    <a class="list_link" href="{% url 'delete_image' pk=object.pk%}">Supprimer</a>
                    <a class="list_link" href="{% url 'update_image' pk=object.pk%}">Modifier</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}