{% extends 'base.html' %}
{% load static %}
{% block title %} Supprimer une image ! {% endblock %}
{% block content %}
    <div class="delete-image-flexbox">
    <form class="delete-image" method="post">{% csrf_token %}
        <h2>Supprimer une image !</h2>
        <p>Êtes-vous sûr de vouloir supprimer l'image nommée : {{ object.name }} ?</p>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}