{% extends 'base.html' %}
{% load static %}
{% block title %} Ajouter une image ! {% endblock %}

{% block content %}
    <div class="add-image-flexbox">
        <form class="add_image" method = "post" enctype="multipart/form-data">
            <h2>Ajouter une image !</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
{% endblock %}
</body>
</html>