{% extends 'base.html' %}
{% load static %}
{% block title %} Accueil {% endblock %}
{% block content %}
    <h2>Toutes nos images !</h2>
    <div class="flexbox-images-container">
        {% for object in object_list %}
            <div class="flexbox-images">
                <img src="{{ object.image_Main_Img.url }}"/>
                <h2>{{ object.name }}</h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}