{% extends 'base.html' %}
{% load static %}
{% block title %} Modifier une image ! {% endblock %}
{% block content %}
    <div class="update-image-flexbox">
    <form class="update_image" method="post">{% csrf_token %}
        <h2>Modifier l'image !</h2>
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
{% endblock %}